@import url(common.css);
@import url(stylesheet.css);

body {
    padding: 0 70px;
}

.navbar {
    margin-top: 47px;
}

.wild-logo {
    transform: translateY(-9px);
}

.navbar-ul img {
    color: black;
}

.navbar-ul {
    gap: 27px;
}

.nav-arrow {
    margin-left: 5px;
}

.navbar-a {
    color: rgb(0, 0, 0);
    height: none;
}

.navbar-user-button,
.navbar-cart-button,
.nav-menu-button {
    background-color: #F1EEE4;
}

.nav-get-started-btn::before {
    background-color: #F1EEE4;
}

.bundle-heading {
    font-size: 88px;
    line-height: 96px;
    color: #232323;
    font-family: Gelica;
    font-weight: 600;
}

header {
    text-align: center;
}

.all-btn,
.body-wash-button-2,
.deodorant-btn {
    font-size: 15px;
    line-height: 20px;
    font-family: FaturaPt;
    font-weight: 500;

}



.flex-flow-4 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.all-btn,
.body-wash-button-2,
.deodorant-btn {
    font-size: 15px;
    line-height: 20px;
    font-family: FaturaPt;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 7px;
    margin: 0;
}

.body-wash-button-2::before,
.deodorant-btn::before {
    background-color: #F1EEE4;
}

.all-btn::before {
    background-color: #FFDE4B;
}

.bundle-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bundle-para {
    font-size: 20px;
    line-height: 32px;
    color: #232323;
    font-family: FaturaPt;
    font-weight: 300;
}

.bundle-container {
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

.bundle-cards {
    padding: 0;
    gap: 1.1rem;
    transform: translateX(-32px);
}

.bottle-for-life {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.cards-2 {
    padding: 0;
    transform: translateX(-30px);
}

.shopping-card {
    width: min-content;
    height: 400px;
    cursor: pointer;
}

.shopping-cards {
    padding: 0;
    margin-left: 1rem;
    transform: translateX(-30px);
    gap: 2.2em;
    /* flex-wrap: wrap; */
    margin-bottom: 3rem;
}

.top-label {
    left: -12%;
}

.card-heading {
    font-size: 38px;
    line-height: 48px;
    color: #000000;
    font-family: Gelica;
    font-weight: 600;
    text-align: center;
}

.card-para-bundle {
    font-size: 18px;
    line-height: 28px;
    color: #4f4f4f;
    font-family: FaturaPt;
    font-weight: Light;
    text-align: center;
}

.card-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 0 7.38rem;
    white-space: nowrap;
    align-items: center;
}

.sold-out {
    opacity: 0.5;

}

.card-tag {
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    color: #232323;
    font-family: FaturaPt;
    font-weight: 500;
    background-color: white;
    border: 2px solid #F1EEE4;
    display: flex;
    justify-content: center;
    margin: 0 65px;
    padding: 2px 1px;
    border-radius: 5px;
}

.bundle-get-started-btn {
    font-size: 15px;
    line-height: 20px;
    font-family: FaturaPt;
    background-color: #1D7F75;
    color: white;
    padding: 18px 25px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 10px;
    z-index: 11;
    perspective: 100px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0.5rem;
}
