
.card-content {
    margin: 0;
    gap: 1.5rem;
}
.flex-flow-6 {
    gap: 9rem;
    margin: 2rem;
    margin-bottom: 12rem;
}

.flex-flow-6-row-2 {
    gap: 1rem;
}

.sweat-security-img {
    width: 511px;
    border-radius: 17px;
}
.width-200px {
    width: 200px;
}

.cases-btns {
    padding: 18px 22px;
}