
.card-content {
    margin: 0;
    gap: 1.5rem;
}
.flex-flow-6 {
    gap: 9rem;
    margin: 2rem;
    margin-bottom: 12rem;
}

.flex-flow-6-row-2 {
    gap: 1rem;
}

.sweat-security-img {
    width: 511px;
    border-radius: 17px;
}
.width-200px {
    width: 200px;
}

.cases-btns {
    padding: 18px 22px;
}
.compostable-cards{
    display: flex; 
    flex-direction: column;
    text-align: start;   
}
.product-tag{
    background-color: white;
    width: max-content;
    border-radius: 5px;
    padding: 3px;
}
.compostable-div{
    gap: 6rem;
    align-items: flex-start;
    margin: 0 7rem 13rem 0;
}
