.bundle-heading {
    width: min-content;
}

main {
    padding: 0 70px;
}

.card-content-2 {
    margin: 0 2rem;
}

.shopping-card:hover .shopping-img {
    transform: none;
    cursor: default;
}

.shopping-card:hover .new-in {
    transform: rotateZ(-32deg);
}

.shopping-card {
    cursor: default;
    height: 350px;
}

.fa-plus::after {
    transition: scale 0.2s ease;
}

.fa-plus:hover::after {
    scale: 1.1;

}

.fa-minus {
    opacity: 0.5;
    cursor: default !important;
}

.fa-minus::after {
    scale: none !important;
}

.fa-minus::before,
.fa-subtract::before {
    content: "\f068" !important;
}

.fa-plus::before {
    position: static;
    transform: none;
    color: white;
    font-size: 13px;
    font-weight: 700;
}

.add-button {
    bottom: 7%;
}

.add-button-2::before {
    content: "";
    background-color: #ffffff;
    width: 105px;
    height: 35px;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -5;
    position: absolute;
    transition: all 0.08s linear;
    transform-origin: center;
    border: 2px solid #F1EEE4;
    cursor: default;
}

.add-button-2 {
    border: 0px;
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 100vw;
    bottom: -1%;
    left: 50%;
    transform: translateX(-50%);
    cursor: default;
}

.add-button-2 button {
    gap: 0.7rem;
    margin-bottom: 8px;
    cursor: default;
}

.add-button-2:hover::before {
    width: 108px;
    height: 36px;
}

.add-button {
    bottom: -7%;
}

.bottom-6per {
    bottom: 6%;
}

.grid-flow-2 {
    grid-template-columns: 1fr 1fr;
    margin-top: 8rem;
    margin-bottom: 10rem;
}

.video-link {
    color: #1d7f75;
    transition: all 0.25s ease;
}
.video-link:hover{
    opacity: 0.5;
}

.video-link::before {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-image: radial-gradient(#1d7f75 30%, transparent 30%);
    background-size: 6px;
    background-repeat: space;
}

.video-link {
    display: block;
    width: max-content;
}

.card-tag {
    width: max-content;
}

.purple-img {
    border-radius: 22px;
    width: 43vw;
    transition: transform 0.25s ease;
}

.row-1 {
    margin-bottom: 10rem;
}

.content-container {
    gap: 1rem;
    width: 350px;
}

.row-2 {
    row-gap: 1rem;
}

.row-2:hover .purple-img {
    transform: translateY(-15px);
}

.product-bucket {
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 0 20px #cecece;
    margin-bottom: 5rem;
    background-color: white;
    margin-left: auto;
    height: 75px;
}

.col-2-product img {
    width: 112px;
    right: 0;
}

.col-1-product {
    gap: 0.3rem;
    padding: 10px 20px;
    align-items: flex-start;
}

.left-aligner {
    width: 100%;
    padding-right: 2rem;
    position: sticky;
    bottom: 2rem;
}
.need-refills-section{
    padding-bottom: 0;
}
